.header__contacts {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #fff;
    padding-left: 34px;
    margin-right: 45px;
}

@media screen and (max-width: 1023px) {
    .header__contacts {
        margin: 0;
        padding-left: 15px;
    }
}