.feedback__slider-buttons {
    list-style: none;
    padding: 0;
    margin-top: 26px;
    margin-bottom: 0;
    display: flex;
    column-gap: 2px;
}

@media screen and (max-width: 620px) {
    .feedback__slider-buttons {
        column-gap: 9px;
    }
}