.menu__items {
    list-style: none;
    margin-top: 138px;
    margin-bottom: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    column-gap: 30px;
}

@media screen and (max-width: 767px) {
    .menu__items {
        margin-top: 98px;
    }
}