.history__dishes-img {
    width: 233px;
    height: 300px;
    z-index: 2;
    box-shadow: 20px 0px 30px 3px #00000080;
    position: absolute;
    top: 65px;
    right: 306px;
}

@media screen and (max-width: 620px) {
    .history__dishes-img {
        width: 125.36px;
        height: 154.86px;
        top: 33.55px;
        right: 164.64px;
    }
}