.daily-offers__small-img {
    display: block;
    width: 160px;
    height: 140px;
}

@media screen and (max-width: 767px) {
    .daily-offers__small-img {
        width: 130px;
        height: 113.75px;
    }
}