.header__reservation-btn {
    width: 157px;
    height: 47px;
    background: #FF7400;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    margin-left: 45px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 1s ease-out;
}

.header__reservation-btn:hover {
    opacity: 0.7;
}