.history__marketing-description {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .history__marketing-description {
        text-align: center;
        margin-top: 21px;
        margin-bottom: 41px;
    }
}