.history__cake-img {
    width: 255px;
    height: 430px;
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 94px;
}

@media screen and (max-width: 620px) {
    .history__cake-img {
        width: 137.2px;
        height: 221.97px;
        right: 50.58px;
    }
}