.history__design-box {
    width: 212px;
    height: 164px;
    background-color: #FFE8D0;
    z-index: 0;
    position: absolute;
    top: 34px;
    right: 42px;
}

@media screen and (max-width: 767px) {
    .history__design-box {
        width: 114.06px;
        height: 84.66px;
        top: 17.55px;
        right: 22.6px;
    }
}