.header__description {
    font-family: 'Tinos';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #656363;
    margin-top: 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .header__description {
        font-size: 22px;
        line-height: 25px;
    }
}