.history__marketing-text {
    max-width: 601px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .history__marketing-text {
        max-width: 290px;
    }
}