.history__marketing-title {
    font-family: 'Tinos';
    font-size: 52px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    color: #D67E34;
    margin: 0;
}

@media screen and (max-width: 620px) {
    .history__marketing-title {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
    }
}