.chef__img {
    height: 462px;
    width: 100%;
}

@media screen and (max-width: 1320px) {
    .chef__img {
        height: 600px;
    }
}

@media screen and (max-width: 620px) {
    .chef__img {
        height: 380px;
    }
}