.menu__item-price {
    margin: 0;
    background-color: #D67E34;
    border: 7px solid #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-family: 'Cookie';
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    position: absolute;
    top: 125px;
    left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}