.header__links {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 1159px) {
    .header__links {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 620px) {
    .header__links {
        margin: 0;
        flex-direction: column;
        font-size: 20px;
        line-height: 26px;
    }
}