.chefs__title {
    font-family: 'Tinos';
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    margin-top: 100px;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .chefs__title {
        font-size: 40px;
        line-height: 46px;
        margin-top: 71px;
        max-width: 123px;
    }
}