.header {
    background-image: url('../../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aqua;
    min-height: 800px;
    padding: 0px 165px;
}