.header {
    background-image: url('../../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
    padding: 0px 165px;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 620px) {
    .header {
        padding: 0px 15px;
    }
}