.feedback__text {
    max-width: 920px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .feedback__text {
        max-width: 290px;
    }
}